/* global index.css */ 
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
button{
  padding: 4px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 50px;
}
body{
  background-color: #eae8ff5a;
}

:root {
      --text: #0d0b1e;
      --background: #f0effa;
      --primary: #241d72;
      --secondary: #847ce4;
      --accent: #3122d3;
    }
    .dark {
      --text: #e3e1f4;
      --background: #060510;
      --primary: #948de2;
      --secondary: #241b83;
      --accent: #3b2cdd;
    }
  }
  @layer base {
    :root {
      --text-50: #eeecf8;
      --text-100: #dcdaf1;
      --text-200: #b9b5e3;
      --text-300: #968fd6;
      --text-400: #736ac8;
      --text-500: #5145ba;
      --text-600: #403795;
      --text-700: #302970;
      --text-800: #201c4a;
      --text-900: #100e25;
      --text-950: #080713;
      
      --background-50: #edecf9;
      --background-100: #dad8f3;
      --background-200: #b6b1e7;
      --background-300: #918bda;
      --background-400: #6d64ce;
      --background-500: #483dc2;
      --background-600: #3a319b;
      --background-700: #2b2574;
      --background-800: #1d184e;
      --background-900: #0e0c27;
      --background-950: #070613;
      
      --primary-50: #000000;
      --primary-100: #d9d6f5;
      --primary-200: #b3aeea;
      --primary-300: #8d85e0;
      --primary-400: #675dd5;
      --primary-500: #4134cb;
      --primary-600: #342aa2;
      --primary-700: #271f7a;
      --primary-800: #1a1551;
      --primary-900: #0d0a29;
      --primary-950: #060514;
      
      --secondary-50: #ebeafb;
      --secondary-100: #d7d5f6;
      --secondary-200: #b0aaee;
      --secondary-300: #8880e5;
      --secondary-400: #6156dc;
      --secondary-500: #392bd4;
      --secondary-600: #2e23a9;
      --secondary-700: #221a7f;
      --secondary-800: #171155;
      --secondary-900: #0b092a;
      --secondary-950: #060415;
      
      --accent-50: #ebe9fb;
      --accent-100: #d6d3f8;
      --accent-200: #ada7f1;
      --accent-300: #857bea;
      --accent-400: #5c50e2;
      --accent-500: #3324db;
      --accent-600: #291daf;
      --accent-700: #1f1584;
      --accent-800: #140e58;
      --accent-900: #0a072c;
      --accent-950: #050416;
      
    }
    .dark {
      --text-50: #080713;
      --text-100: #100e25;
      --text-200: #201c4a;
      --text-300: #302970;
      --text-400: #403795;
      --text-500: #5145ba;
      --text-600: #736ac8;
      --text-700: #968fd6;
      --text-800: #b9b5e3;
      --text-900: #dcdaf1;
      --text-950: #eeecf8;
      
      --background-50: #070613;
      --background-100: #0e0c27;
      --background-200: #1d184e;
      --background-300: #2b2574;
      --background-400: #3a319b;
      --background-500: #483dc2;
      --background-600: #6d64ce;
      --background-700: #918bda;
      --background-800: #b6b1e7;
      --background-900: #dad8f3;
      --background-950: #edecf9;
      
      --primary-50: #060514;
      --primary-100: #0d0a29;
      --primary-200: #1a1551;
      --primary-300: #271f7a;
      --primary-400: #342aa2;
      --primary-500: #4134cb;
      --primary-600: #675dd5;
      --primary-700: #8d85e0;
      --primary-800: #b3aeea;
      --primary-900: #d9d6f5;
      --primary-950: #ecebfa;
      
      --secondary-50: #060415;
      --secondary-100: #0b092a;
      --secondary-200: #171155;
      --secondary-300: #221a7f;
      --secondary-400: #2e23a9;
      --secondary-500: #392bd4;
      --secondary-600: #6156dc;
      --secondary-700: #8880e5;
      --secondary-800: #b0aaee;
      --secondary-900: #d7d5f6;
      --secondary-950: #ebeafb;
      
      --accent-50: #050416;
      --accent-100: #0a072c;
      --accent-200: #140e58;
      --accent-300: #1f1584;
      --accent-400: #291daf;
      --accent-500: #3324db;
      --accent-600: #5c50e2;
      --accent-700: #857bea;
      --accent-800: #ada7f1;
      --accent-900: #d6d3f8;
      --accent-950: #ebe9fb;
      
    }
  }
  /* colors: {
    'text': 'var(--text)',
    'background': 'var(--background)',
    'primary': 'var(--primary)',
    'secondary': 'var(--secondary)',
    'accent': 'var(--accent)',
   }, */
/* add the code bellow */ 
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }